body {
  margin: 0;
  font-family: karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header CSS start from here */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 70px;
  background-color: rgb(255, 255, 255);
}

/* header CSS ends here  */
/* Main Area CSS start from here */

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 347;
  background-color: #495e57;
}

#mainH1 {
  color: #f4ce14;

  /* Display_serif */
  font-family: Markazi Text;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px 16px;
  padding: 10px 0px 0px 0px;
}

#mainH2 {
  color: #EDEFEE;

/* Subheading */
font-family: Markazi Text;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px 16px 16px 16px;
padding: 0px 0px 1px 0px;
}
.mainDescription {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
}
#mainDescription {
  width: 242px;
flex-shrink: 0;
color: #FFF;

font-family: Karla;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 16px 0px 0px 16px;

}

#mainImg {
  width: 147px;
height: 152px;
border-radius: 16px;
margin: 16px 16px 0px 6px;
/* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */


}

#mainButton {
  padding: 8px 16px;
  gap: 10px;
  border-radius: 16px;
background: #F4CE14;
width: 148px;
height: 35px;
margin: auto 16px 40px 16px;

color: #000;

/* Nav_Link */
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* Main CSS ends here */
